/*========== Footer ===============*/
footer, .footer-login, .footer-faq {
  background-color : $color-text;
  font-family: $font-logo;
  height           : 80px;
  overflow         : hidden;
  position: relative;
  display : block;
  width: 100%;
  div {
    margin:0;
    .copyright {
      color     : white;
      font-size : 10px;
      margin    : 0;
      padding   : 35px 0;
    }
  }
}
.footer-login {
  position : absolute;
  bottom: 0;
  width: 100%;
}