html {
  height     : 100%;
  position   : relative;
  font-size  : 16px;
  overflow-x : hidden;
}
a {
  text-decoration: none;
}
/*++++++++++ Faq.html ***************/
.faq {
  position    : relative;
  padding-top : 70px;
  .faq-wrapper {
    padding : 25px 20px;
    h1 {
      font-size               : 20px;
      margin                  : 0;
      color                   : white;
      background-color        : $color-principal;
      padding                 : 10px;
      border-top-left-radius  : 10px;
      border-top-right-radius : 10px;
    }
    p, ul, ol {
      padding                    : 20px;
      height                     : 120px;
      margin                     : 0;
      border-left                : 1px solid $color-principal;
      border-bottom              : 1px solid $color-principal;
      border-right               : 1px solid $color-principal;
      line-height                : 1.5;
      border-bottom-left-radius  : 10px;
      border-bottom-right-radius : 10px;
    }
  }
}

