footer {
  background-color : $color-text;
  font-family      : $font-logo;
  .footer {
    padding : 20px 0;
  }
  .copyright {
    color : white;
    padding:0 10px;
  }
}
.footer-bottom {
  position:absolute;
  right :0;
  bottom :0;
  left :0;
}