.form-wrapper {
  padding: 120px;
  .form-control {
    border: 1px solid $color-principal;
  }
}
.control-label {
  color:$color-principal;
}
.btn-principal.btn-register {
  padding: 5px 10px;
}

.input:focus{
	 background-color:#fff;
	 border: 3px solid #3498db;
	 color:color:#1b8f31;
	 padding: 13px 13px 13px 54px;
	 
 }